body {margin: 0;}

img {max-width: 100%;
display: block;}
*{box-sizing: border-box;}

/* gallerySection */

.gallerySection{
    display: flex;
    width: 1000px;
    margin: auto;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
}
.galleryImg{
    flex-basis: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 10px;
}
.galleryImg img{max-width: 100%;display: block;border-radius: 10px;height: 400px;width: 100%;object-fit: cover;}


/* aboutUsSection */
.aboutUsSection{
    background-color: #d6d9d9;
    padding-top: 100px;
    padding-bottom: 100px;
}

.headingSection{
    padding-top: 100px;
    
}

.galleryTitle{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutUs{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 50px;
    margin: 0;
}
p{
    font-size: 18px;
    max-width: 600px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    line-height: 1.4;
}


/* knowAboutUsSection */

.knowAboutUsSection
{
display: flex;
flex-wrap: wrap;
width: 1000px;
margin-left: auto;
margin-right: auto;
padding-top: 50px;
padding-bottom: 50px;


}

.column_01{
    flex-basis: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    color: white;
    padding: 30px;
    
}

.column_02{

flex-basis: 50%;

max-width: 50%;
}